<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jira.tool.db.mapper.JiraMapper">
    <resultMap id="userMap" type="jira.tool.db.model.User">
        <id column="ID" property="id"/>
        <result column="c_id" property="code"/>
        <result column="StaffName" property="name"/>
        <result column="ProductLine" property="team"/>
    </resultMap>

    <resultMap id="storyMap" type="jira.tool.db.model.Story">
    </resultMap>

    <select id="getUserList" resultMap="userMap">
        SELECT * FROM jiradb.OStaffList where IsActive='是';
    </select>

    <select id="getStoryList" resultMap="storyMap">
        select project.pname,jiraissue.*
        from jiradb.jiraissue
            left join issuetype on jiraissue.issuetype = issuetype.ID
            left join project on jiraissue.project = project.id;
    </select>
</mapper>