<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jira.tool.db.mapper.JiraMapper">
    <resultMap id="userMap" type="jira.tool.db.model.User">
        <id column="ID" property="id"/>
        <result column="c_id" property="code"/>
        <result column="StaffName" property="name"/>
        <result column="ProductLine_Amoeba" property="team"/>
        <result column="ProductLine" property="team"/>
        <result column="member_count" property="memberCount"/>

        <result column="user_name" property="userName"/>
        <result column="lower_user_name" property="lowerUserName"/>
        <result column="first_name" property="firstName"/>
        <result column="lower_first_name" property="lowerFirstName"/>
        <result column="last_name" property="lastName"/>
        <result column="lower_last_name" property="lowerLastName"/>
        <result column="display_name" property="displayName"/>
        <result column="lower_display_name" property="lowerDisplayName"/>
    </resultMap>

    <!-- Return the user list -->
    <select id="getUserList" resultMap="userMap">
        SELECT * FROM jiradb.cwd_user left join jiradb.OStaffList on c_id = user_name;
    </select>

    <!-- Return the team list -->
    <select id="getTeamList" resultMap="userMap">
        SELECT distinct ProductLine_Amoeba FROM jiradb.OStaffList;
    </select>

    <!-- Count the team members -->
    <select id="getTeamMembersCountList" resultMap="userMap">
        select distinct ProductLine, count(*) as member_count
        from jiradb.OStaffList
        where IsActive = '是'
        group by ProductLine;
    </select>
</mapper>